{% extends "base.html" %}

{% block head %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}


{% block content %}

{% include "post/sidebar.html" %}

<div class="post-detail">

    <div class='detail-header'>
        <h1 class="header-title">
            {{ post.title }}
        </h1>


        <div class="header-info">

            <p class="header-basic-p">
                <span class="header-basic-p-span">板块</span>
                <a class="header-basic-p-a">{{ board.name }}</a>
            </p>

            <p class="header-basic-p">
                <span class="header-basic-p-span">楼主</span>
                <a class="header-basic-p-a"> {{ author.username or 'Mr.R'}}</a>
            </p>

            <p class="header-basic-p">
                <span class="header-basic-p-span">热度</span>
                <a class="header-basic-p-a">{{ post.views }}</a>
            </p>
        </div>

        <p class="header-basic-date">
            时间:{{ date }}
        </p>
    </div>
    <hr>


    <div class='detail-content'>
        <p id="content-md">{{ post.content }}</p>
    </div>
    <hr>


    <div class="detail-comment-show">
        <p class="header-basic-p">
            <span class="header-basic-p-span">评论</span>
            <a class="header-basic-p-a">{{ post.comments() | count }} </a>
        </p>
        {% for r in post.comments() %}
        <div class="comment-item">
            <div class='comment-info'>

                <div class='comment-user'>
                    <img class="comment-user-img"></img>
                    <a class="comment-number">
                        {{ r.user.username }}
                    </a>

                    <a class="comment-number">
                        {{ loop.index }}楼
                    </a>

                </div>


            </div>
            <div id="comment-content">
                <div class="comment-content-text">
                    {{ r.content }}
                </div>

                <p class="header-basic-date">
                    {{ r.ut }}
                </p>
            </div>

        </div>
        {% endfor %}
    </div>

    <div class="detail-comment-edit">
        <form action="{{ url_for('comment.add') }}" method="post">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <textarea id="comment-edit-content" class="form-control" name="content" required></textarea>
            <button class="btn">添加回复</button>
            <!-- <span id="comment-add-md" class="btn btn-info">Markdown模式</span> -->
            <span id="comment-edit-reset" class="btn  btn-warning">重置</span>
        </form>
    </div>


    {% endblock %}



    {% block bottombody %}
    <script>
        document.getElementById('content-md').innerHTML = marked($('#content-md').text())
        $('#comment-edit-reset').click(function(event) {
            $('#comment-edit-content').val("")

        })
    </script>

    {% endblock %}
