{% extends "base.html" %}

{% block content %}

{% include "post/sidebar.html" %}

<div id="main">
    <div id="content">
        <div class='panel'>
            <div class='header topic_header'>
                <span class="topic_full_title">
                    {{ post.title }}
                </span>
                <div class="changes">
                    <span>
                        发布于{{ date }}
                    </span>
                    <span>
                        作者
                        {{ author.username }}
                    </span>
                    <span>
                        {{ post.views }} 次浏览
                    </span>
                    <span>
                        来自 {{ board.name }}
                    </span>
                </div>
            </div>

            <div class='inner topic'>
                <div class='topic_content'>
                    <div id="editormd">
                        <div class="markdown-text">

                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>
                    <!-- 过滤器 -->
                    {{ post.replies() | count }} 回复
                </span>
            </div>
            {% for r in post.replies() %}
            <div class='cell reply_area reply_item'>
                <div class='author_content'>
                    <a href="/user/leiwei1991" class="user_avatar">
                        <img src="" title="{{ r.user_id.username }}" />
                    </a>
                    <div class='user_info'>
                        <a class='dark reply_author'>
                            {{ r.user_id.username }}
                        </a>
                        <a class="reply_time">
                            {{ loop.index }}楼
                        </a>
                    </div>
                    <div class='user_action'>
                        <span>
                            <i class="fa up_btn
                          fa-thumbs-o-up
                          invisible" title="喜欢"></i>
                            <span class="up-count">
                            </span>
                        </span>
                    </div>
                </div>
                <div class='reply_content from-leiwei1991'>
                    <div id="main_content" class="markdown-text">
                        {{ r.content }}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>
                <form action="{{ url_for('comment.add') }}" method="post">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <textarea name="content"></textarea>
                    <button>添加回复</button>
                </form>
            </div>
        </div>
        {% endblock %}
