{% extends "base.html" %}

{% block content %}

{% include "post/sidebar.html" %}
<div class="post-board">
    <!-- <div class="post-board-img">

    </div> -->


    <!-- 笨方法 先用着 -->
    {% if board_name == '' %}
    <a href="/post" class="post-tab current-tab">
        <span class="btn btn-secondary">全部</span>
    </a>
    {% else %}
    <a href="/post" class="post-tab ">
        <span class="btn btn-secondary">全部</span>
    </a>
    {% endif %}


    {% for b in bs %}

    {% if b.title == board_name %}
    <a href="/post?board_name={{ b.title }}" class="post-tab current-tab">
        <span class="btn btn-secondary">{{ b.name }}</span>
    </a>
    {% else %}
    <a href="/post?board_name={{ b.title }}" class="post-tab">
        <span class="btn btn-secondary">{{ b.name }}</span>
    </a>
    {% endif %}
    {% endfor %}
</div>

<hr>

<div class="post-content">

    <div class="content-items">

        {% for post in posts %}

        <div class="post-item">
            <a class="post-i-title" href="{{ url_for('post.detail', id=post.id) }}">
                {{ post.title }}
            </a>
            <span class="post-i-info">{{ post.comments() | count }}评 / {{ post.views }}阅</span>

            <span class="post-i-button">
                {% if user.id == post.user_id or user.id == 1 %}
                <a class="" href="{{ url_for('post.delete', id=post.id, token=token) }}">
                    删除
                </a>
                {% endif %}
            </span>
        </div>
        {% endfor %}
    </div>


</div>


<div class="pagination">
    <ul class="pagination">
        <li{% if not pagination.has_prev %} class="disabled" {% endif %}>
            <a href="{% if pagination.has_prev %}{{ url_for('post.index', page=pagination.page-1, board_name=board_name)}}{% else %}#{% endif %}">&laquo;
            </a>
            </li>

            {% for p in pagination.iter_pages() %}
            {% if p %}

            <!-- 当前页 -->
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for('post.index', page = p,  board_name=board_name) }}">{{ p}}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('post.index', page = p,  board_name=board_name) }}">{{ p }}</a>
            </li>
            {% endif %}

            {% else %}
            <li class="disabled"><a href="#">&hellip;</a>
            </li>
            {% endif %}
            {% endfor %}

            <li{% if not pagination.has_next %} class="disabled" {% endif %}>
                <a href="{% if pagination.has_next %}{{ url_for('post.index', page=pagination.page+1, board_name=board_name) }}{% else %}#{% endif %}">
                    &raquo;
                </a>
                </li>
    </ul>
</div>

{% endblock %}
