{% extends "base.html" %}

{% block content %}

{% include "post/sidebar.html" %}
<div class="post-board">
    <!-- <div class="post-board-img">

    </div> -->
    <a href="/post" class="post-tab current-tab">
        <span class="btn btn-secondary">全部</span>
    </a>

    {% for b in bs %}
    <a href="/post?board_name={{ b.title }}" class="post-tab">
        <span class="btn btn-secondary">{{ b.name }}</span>

    </a>
    {% endfor %}
</div>

<hr>

<div class="post-content">

    <div class="content-items">

        {% for post in posts %}

        <div class="post-item">
            <a class="post-i-title" href="{{ url_for('post.detail', id=post.id) }}">
                {{ post.title }}
            </a>
            <span class="post-i-info">{{ post.replies() | count }}评 / {{ post.views }}阅</span>

            <span class="post-i-button">
                {% if session['user_id'] %}
                <a class="" href="{{ url_for('post.delete', id=post.id, token=token) }}">
                    删除
                </a>
                {% endif %}
            </span>
        </div>
        {% endfor %}
    </div>


</div>
<div class="pagination" current_page="1">
    <ul>
        <li><a>«</a></li>

        <li><a>1</a></li>

        <li><a href="#">2</a></li>

        <li><a>...</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>

        <li><a href="#">»</a></li>

    </ul>
</div>

{% endblock %}
