<div class="post-sidebar">

    <div class="sidebar-top">
        <a href="/post/new">
            <span class="btn btn-info">发布话题</span>
        </a>

        <a href="/post/random">
            <span class="btn btn-success">试试手气</span>
        </a>
    </div>
    <hr>
    <div class="sidebar-bottom">
        <header>
            今日板
        </header>

        <article>
            <br>

            <p>你需要跑得越来越快，才能保持原地不动</p>
            <p>———《爱丽丝梦游仙境》</p>

        </article>
    </div>


</div>
