{% extends "base.html" %}

{% block head %}

{{ super() }}

<link rel="stylesheet" href="static/css/slide.css" />
<script src="static/js/slide.js"></script>

{% endblock %}


{% block content %}
<div id="slide" class="slide">
    <ul>
        {% for p in posts[:5] %}
        <li>
            <div class="slide-li-div">
                <a href="/post/{{ p.id }}"> <img src={{ p.image_url }} alt="{{ p.title }}"></a>
                <p class='slide-title'>{{ p.title }}</p>
            </div>
        </li>

        {% endfor %}
    </ul>
    <div>
        <span class="prev_btn"> &lt; </span>
        <span class="next_btn"> &gt; </span>
    </div>
</div>

<div class="div-kanban-items">
    {% for p in posts[5:] %}
    <div class="kan-img" style="background-image:url({{ p.image_url }})">
        <a class="kan-title" href="/post/{{ p.id }}">{{ p.title }}</a>
    </div>


    {% endfor %}

</div>

{% endblock %}
