<div class="overlay"></div>


<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav pixel-2">
        <li class="sidebar-brand" style="height:166px">
            <a href="#">
                <span class="pixel-1 color"><img src="/static/p1.png" alt="">TSure</span>
            </a>
        </li>

        <li>
            <a href="/">Home
            </a>
        </li>

        <li class="dropdown open">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#3e84e8">
                BBS<span class="caret"></span>
            </a>
            <ol class="dropdown-menu" role="menu">
                <!-- <li class="dropdown-header"></li> -->
                <li><a href="#" style="color:#9ccc65">News</a></li>
                <li><a href="#">Games</a></li>
                <li><a href="#" style="color:#FF9900">Books</a></li>
                <li><a href="#" style="color:#ff5755">Balabala</a></li>
            </ol>
        </li>

        <li>
            <a href="#">Box</a>
        </li>

        <li>
            <a href="#">About</a>
        </li>

    </ul>
</nav>
